
.ion-content {
    background: url("/assets/img/ChfuTQ3WwAINSEM.jpg") no-repeat fixed center; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     background-color: white;
     
 }